@use '../../style' as s;
@use '../../style/form.scss' as form;

.user {
   display: flex;
   flex-direction: column;
   gap: s.space(2);

   &--click {
      @include s.click;
      text-decoration: none;
   }

   &__title {
      font-size: 16px;
      // висота вказана для skeleton
      height: 16px;
      color: s.color(grey);
   }

   &__sub {
      font-size: 14px;
      // висота вказана для skeleton
      height: 14px;
      color: s.color(light);
   }
}

.page {
   gap: 30px;
}