{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">
    <div class="heading">
        <h1 class="heading__title">JS-PRACTICE</h1>
        <button class="heading__button" onclick="customNavigation.goTo('/signup')">Signup</button>
    </div>
    <span class="page__line"></span>
</main>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}