<div class="heading">
	<img class="heading__time" src="/svg/time.svg" alt="time" width="54" height="18">
	<img class="heading__status" src="/svg/status.svg" alt="status" width="67" height="18">
</div>