@use '../../style' as s;

:root {
	background-color: s.color('dark');
}

html {
	min-height: 100%;
	padding: 64px 0;
}

body {
	font-family: 'Roboto', sans-serif;

	// max-width: 420px;
	// width: 100%;
	margin: auto;
	// height: 100%;
	border-radius: 20px;

	background-color: s.color('background');

	display: flex;

	min-height: 812px;
	max-width: 375px;

	position: relative;
}

.page {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: s.space(12);
	padding: s.space(4) s.space(6);
	width: 100%;
	height: 100%;

	&--background {
		background-image: url('/svg/background.svg');
		background-repeat: no-repeat;
		background-position: top right;
	}

	&__section {
		display: flex;
		flex-direction: column;
		gap: s.space(6);

		justify-content: center;
	}

	&__title {
		font-size: 24px;
		color: s.color(dark);
		font-weight: 700;
	}

	&__subtitle {
		font-size: 14px;
		color: s.color(grey);
		line-height: 1.5em;
	}
}

.page__line {
   border-bottom: 5px solid s.color('dark');
   border-radius: 100px;
   max-width: 134px;

   position: absolute;
   left: 119px;
   bottom: 10px;
   width: 135px;
   height: 5px;
}